/* Front-end styles for the Digital Garden Archive block */
.digital-garden-archive {
	list-style-type: none;
	padding-left: 0;
}

.digital-garden-archive li {
	margin-bottom: 0.5em;
}

.digital-garden-archive li a {
	text-decoration: none;
	color: #2d3748;
}

.digital-garden-archive li a:hover {
	text-decoration: underline;
}

/* Tags */
.digital-garden-tags {
	margin-bottom: 1em;
}

.digital-garden-tag-buttons {
	margin-bottom: 20px;
}

.digital-garden-tag-button,
.digital-garden-clear-button {
	display: inline-block;
	margin: 5px;
	padding: 10px 15px;
	border: 1px solid #0073aa;
	border-radius: 5px;
	background-color: #f1f1f1;
	color: #0073aa;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.digital-garden-tag-button:hover,
.digital-garden-clear-button:hover {
	background-color: #0073aa;
	color: #fff;
	border-color: #0073aa;
}

.digital-garden-tag-button.active,
.digital-garden-tag-button.selected,
.digital-garden-clear-button.active,
.digital-garden-clear-button.selected {
	background-color: #0073aa;
	color: #fff;
	border-color: #0073aa;
}

.digital-garden-tag-button:active,
.digital-garden-clear-button:active {
	background-color: #005177;
	color: #fff;
	border-color: #005177;
}

.digital-garden-clear-button {
	background-color: #e53e3e;
	color: white;
	border: 1px solid #c53030;
}

/* Preview Modal */
.digital-garden-modal {
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.digital-garden-modal .modal-content {
	max-width: 300px;
	max-height: 300px;
	overflow: auto;
}

/* Bidirectional Links */
.bidirectional-links {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.bidirectional-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.bidirectional-links li:not(:last-of-type)::after {
	content: "|";
	padding: 0 3px;
}

/* Breadcrumbs */
.digital-garden-breadcrumbs {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.digital-garden-breadcrumb-title {
	margin-top: 0;
}

.digital-garden-breadcrumbs ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.digital-garden-breadcrumbs li:not(:last-of-type)::after {
	content: "»";
	padding: 0 3px;
}

.digital-garden-breadcrumbs a {
	text-decoration: none;
}

.digital-garden-breadcrumbs a:hover {
	text-decoration: underline;
}
