<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">

	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:post-featured-image /-->

		<!-- wp:digital-garden/note-breadcrumbs /-->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

			<!-- wp:spacer {"height":"var:preset|spacing|60"} -->
			<div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer">
			</div>
			<!-- /wp:spacer -->

		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:heading -->
			<h2 class="wp-block-heading">Linked From</h2>
			<!-- /wp:heading -->

			<!-- wp:digital-garden/linked-from /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:heading -->
			<h2 class="wp-block-heading">Related Notes</h2>
			<!-- /wp:heading -->

			<!-- wp:digital-garden/related-notes /-->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
